.testDivs {
  width: 500px;
  height: 100px;
  background-color: rgb(199, 16, 77);
  margin: 2em;
  padding: 2em;
}

:root {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}