.nav-bar-modificado {
    background-color: #8d4925;
    border-color: #0000001a;
    border-radius: 0px 12px 12px 0px;
    border-right-style: solid;
    border-right-width: 1px;
    height: 1080px;
    position: relative;
    width: 397px;
}

.nav-bar-modificado .profil {
    align-items: center;
    display: flex;
    gap: 12px;
    height: 88px;
    left: 24px;
    position: absolute;
    top: 30px;
    width: 349px;
}

.nav-bar-modificado .avatar {
    height: 56px;
    object-fit: cover;
    position: relative;
    width: 59px;
}

.nav-bar-modificado .content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 62px;
    margin-right: -5px;
    position: relative;
    width: 283px;
}

.nav-bar-modificado .OVERLINE {
    align-self: stretch;
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 31px;
    letter-spacing: 0.4px;
    line-height: 12px;
    margin-top: -1px;
    position: relative;
}

.nav-bar-modificado .title {
    align-self: stretch;
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
}

.nav-bar-modificado .navigation {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 771px;
    left: 24px;
    position: absolute;
    top: 170px;
    width: 349px;
}

.nav-bar-modificado .link {
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    height: 60px;
    padding: 10px 12px;
    position: relative;
    width: 100%;
}

.nav-bar-modificado .img {
    height: 20px;
    position: relative;
    width: 20px;
}

.nav-bar-modificado .label {
    color: #ffffff;
    flex: 1;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.28px;
    line-height: 20px;
    position: relative;
}

.nav-bar-modificado .div {
    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    height: 60px;
    padding: 10px 12px;
    position: relative;
    width: 349px;
}

.nav-bar-modificado .icon-chevron {
    height: 16px;
    position: relative;
    width: 16px;
}

.nav-bar-modificado .dropdown {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 205px;
    position: relative;
    width: 100%;
}

.nav-bar-modificado .link-2 {
    align-items: center;
    align-self: stretch;
    background-color: #ff4869;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    height: 60px;
    padding: 10px 12px;
    position: relative;
    width: 100%;
}

.nav-bar-modificado .links-container {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    margin-bottom: -39px;
    position: relative;
    width: 327px;
}

.nav-bar-modificado .link-3 {
    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    height: 40px;
    padding: 8px 12px;
    position: relative;
    width: 172px;
}

.nav-bar-modificado .text-wrapper {
    color: #ffffff;
    flex: 1;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.24px;
    line-height: 16px;
    position: relative;
}

.nav-bar-modificado .radius {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #ff4869;
    border-left-style: solid;
    border-left-width: 2px;
    border-radius: 0px 0px 0px 8px;
    height: 8px;
    left: -13px;
    position: absolute;
    top: 16px;
    width: 13px;
}

.nav-bar-modificado .link-4 {
    align-items: center;
    background-color: #ff4869;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    height: 40px;
    padding: 8px 12px;
    position: relative;
    width: 172px;
}

.nav-bar-modificado .line {
    background-color: #ff4869;
    height: 148px;
    left: -13px;
    position: absolute;
    top: 0;
    width: 2px;
}

.nav-bar-modificado .cursor-pointer {
    height: 24px;
    left: 174px;
    position: absolute;
    top: 111px;
    width: 24px;
}

.nav-bar-modificado .navigation-final {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 24px;
    position: absolute;
    top: 956px;
    width: 349px;
}

.nav-bar-modificado .link-5 {
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    padding: 10px 12px;
    position: relative;
    width: 100%;
}

.nav-bar-modificado .label-2 {
    color: #ffffff;
    flex: 1;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.36px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
}

.nav-bar-modificado .label-3 {
    color: #d55f5a;
    flex: 1;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.36px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
}

.nav-bar-modificado .button {
    height: 44px;
    left: 375px;
    position: absolute;
    top: 34px;
    width: 44px;
}

.nav-bar-modificado .divider {
    background-color: #ff4869;
    border-radius: 2px;
    height: 2px;
    left: 24px;
    position: absolute;
    top: 133px;
    width: 349px;
}
